---
import PriceCard from "./components/PriceCard.astro";
const prices = [
  {
    title: 'Starter',
    description: 'This package offers the basic features you need to get started',
    price: '$39',
    isForward: false,
    features: [
      'Production up to 10,000 units per month',
      '24/7 technical support',
      'Access the production dashboard',
      'Initial setup guide'
    ]
  },
  {
    title: 'Enterprise',
    description: 'This package provide full access to all premium features',
    price: '$99',
    isForward: true,
    features: [
      'Unlimited prodcution units',
      'Dedicated account manager',
      'Tailored manufacturing solutions',
      'Predictive production optimization',
    ]
  }
]
---

<div>
  <ul class="grid grid-cols-1 md:grid-cols-2 items-end gap-8">
    {
      prices.map((price) => (
        <li>
          <PriceCard title={price.title} description={price.description} price={price.price} isForward={price.isForward} features={price.features} />
        </li>
      ))
    }
      <li>
  </ul>
    <div class="col-span-1 md:col-span-2">
        <div class="professional-wrapper justify-center items-center flex flex-col  gap-4 p-8 rounded-2xl text-white">
            <h4 class="text-xl">Professional</h4>
            <p class="opacity-50 text-center md:w-2/3">Designed for greater flexibility, this solution offers advanced tools for custom tailoring to your needs.</p>
            <button class="rounded-full text-primary bg-cta py-2 !px-8 font-bold">Get Started</button>
        </div>
    </div>
</div>

<style>
    .professional-wrapper {
      background: linear-gradient(180deg, rgba(21,63,69,1) 0%, rgba(21,63,69, 0.2) 100%);
    }
</style>
